{% extends 'base.html' %}
{% block head %} 
<title>post</title>
{%endblock%}

{% block body %}
<hr>
<form action="/posts" method="POST">
    Title :<input type="text" name="title" id="title"><br>
    Post :<input type="text" name="post" id="post"> <br>
    <input type="submit" >
</form>
<hr>


{% for x in datas%}
 <h3>
    Title :{{x.title}}
    Content  :{{x.contnet}} <br>
    <a  href="/posts/delete/{{x.id}}">Delete</a>
    <a  href="/posts/edit/{{x.id}}">edit</a>
 </h3>
{% endfor%}
{%endblock%}
tit